<div class="ig_story">
<a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3ODg2NTY3MTY5NTcxMjI4?igshid=16e4dy5mz1urd&story_media_id=2317748551353753665" target="blank">
<div class="circle">
  <img src="https://cdn.shopify.com/s/files/1/0259/8410/6532/files/ig_ico.jpg?v=1590778566" alt="">
  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;" xml:space="preserve">
    <circle cx="50" cy="50" r="40"></circle>
  </svg>
</div>
<h3>Customer Instagram Stories!</h3>
</a>
</div>
