<div class="product-template product-template-grouped">
  <div>
    <div class="halo-product-content">
      <div class="row pro-page">
        {% section 'product-template-grouped' %}
        {% section 'product-recommendations' %}
      </div>

      {% section 'recently-viewed-products' %}
    </div>
  </div>
</div>
