{% if product.type == 'Coffee' %}
<hr>
<p>
<a href="#smile-referral-program-details">
  <span class="product-shipping-text">
    Give $10 Get $10!</span> Friends don't let friends drink bad coffee.
</a>
</p>
{% endif %}
