<div class="inner product-item" data-product-id="product-{{ product.id }}">
  <div class="inner-top">
    <div class="product-bottom">
      {% if settings.show_vendor %}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {% endif %}

      {% if product.type contains 'Coffee' %}
      {% if product.title contains '-' %}
      <a class="product-title" href="{{ product.url | within: collection }}">
        {{ product.title | split: '-' | last }} Coffee
      </a>
      {% endif %}
      {% endif %}

      {% include 'subscribe-form' %}
    </div>

  </div>
</div>

<style>
.rc_block__type__onetime {
  display: none
}
</style>
