<!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->
<div class="cart-template">
  <div class="container">
  	{% section 'cart-template' %}  
    
    {% section 'cart-best-sellers' %}
  </div>  
</div>