<div class="page-tpl">
  {% section 'govx-slideshow' %}
  <div class="container">
    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>
    </header>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
  {% section 'homepage-product' %}
</div>
