<div class="sponsorship-head">
  <div class="container">
  <h2>Welcome, {{ page.title | remove: "Sponsorship" }}!</h2>
  <h4>Enjoy 25% off your first coffee order with discount code {{ page_description | strip_html }} at checkout!</h4>
  </div>
</div>
{% section 'homepage-product' %}
{% section 'instafeed' %}
